{% extends 'auth/authBase.html' %}

{% block title %}
Color| Forgot Password
{% endblock %}

{% block body %}
<main id="body-wrapper" class="h-full w-full"><!--[-->
    <div class="flex h-full max-h-full items-center justify-center">
        <div class="flex flex-1 flex-col justify-center px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-12">
            <div class="mx-auto w-full max-w-sm lg:w-96">
                <div class="mt-5">
                    <form action = '{% url "forgotPassword" %}' method="POST">
                        {% csrf_token %}
                    <div>
                        <h1 class="mb-3 text-2xl font-semibold leading-9 tracking-tight text-gray-900">Enter your registered email</h1>
                        <div>
                            <div>
                                <div class="space-y-2">
                                    <p class="mb-6 text-sm text-gray-400">
                                        {% if messages %}

                                        {% for message in messages %}
                                        {% if message.tags %} 
                                            <div class="{{ message.tags }}">
                                        {% endif %}
                                            {{ message }}
                                        </div>
                                        {% endfor %}
                                    
                                    {% endif %}
                                    </p>
                                    <div class="relative flex flex-col gap-1" data-v-bc87dc0a><!----><label
                                            for="email_address"
                                            class="inline-flex items-center gap-1 text-2 font-semibold text-gray-600"
                                            data-v-bc87dc0a><!----> Email address:</label>
                                        <div class="relative mt-1 rounded-md shadow-sm" data-v-bc87dc0a><input
                                                id="email_address" class="w-full" name="email"
                                                type="email" placeholder="your@gmail.com" value="" test-id=""
                                                data-v-bc87dc0a required><!----></div><!---->
                                    </div>
                                </div>
                                <div class="mt-6 space-y-3">
                                    <button
                                        class="inline-flex items-center justify-center gap-[0.5em] btn w-full"><svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                                            role="img" class="icon" style="vertical-align:-0.125em;"
                                            width="1.3em" height="1.3em" viewBox="0 0 16 16" data-v-e8d572f6>
                                            <g fill="currentColor">
                                                <path
                                                    d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793q.039.014.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185l.076-.032V4.5A1.5 1.5 0 0 0 13.5 3z" />
                                                <path
                                                    d="M15 6.954L8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5z" />
                                            </g>
                                        </svg>Reset Password</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                <div class="mt-7">
                    <div class="relative">
                        <div class="absolute inset-0 flex items-center" aria-hidden="true">
                            <div class="w-full border-t border-gray-200"></div>
                        </div>
                        <div class="relative flex justify-center text-sm font-medium leading-6"><span
                                class="bg-white px-6 text-gray-400">Get My Color</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="notif-manager"
        class="pointer-events-none fixed bottom-0 z-50 flex w-full max-w-full flex-col gap-4 p-4 tablet:right-0 tablet:w-[350px]"
        data-v-649a007b>
        <div name="slide-fade" class="flex flex-col gap-4" data-v-649a007b></div>
    </div><!--]-->
</main>
{% endblock %}