<nav id="main-navbar" class="group sticky top-0 z-10 flex w-full flex-col bg-white p-4 font-medium shadow-2"
    data-v-196da308>
    <div class="m-auto flex w-full max-w-[1200px] items-center justify-between gap-5" data-v-196da308><a
            aria-current="page" href="{% url 'index' %}" class="router-link-active router-link-exact-active flex"
            data-v-196da308><img src="_ipx/w_150%26q_80/images/brand/logo-color.svg"
                onerror="this.setAttribute(&#39;data-error&#39;, 1)" width="150" alt=" TalkNotes Logo"
                data-nuxt-img
                srcset="/_ipx/w_150&amp;q_80/images/brand/logo-color.svg 1x, /_ipx/w_300&amp;q_80/images/brand/logo-color.svg 2x"
                class="p-1" data-v-196da308></a>
        <div class="hidden items-center gap-7 font-medium text-gray-500 laptop:flex" data-v-196da308>
            <!--[--><a aria-current="page" href="index.html#demo"
                class="router-link-active router-link-exact-active transition-all hover:text-indigo-500"
                data-v-196da308>Try it</a><a aria-current="page" href="index.html#how-it-works"
                class="router-link-active router-link-exact-active transition-all hover:text-indigo-500"
                data-v-196da308>How it works</a><a aria-current="page" href="index.html#use-cases"
                class="router-link-active router-link-exact-active transition-all hover:text-indigo-500"
                data-v-196da308>Use cases</a><a aria-current="page" href="index.html#pricing"
                class="router-link-active router-link-exact-active transition-all hover:text-indigo-500"
                data-v-196da308>Pricing</a><a aria-current="page" href="index.html#faq"
                class="router-link-active router-link-exact-active transition-all hover:text-indigo-500"
                data-v-196da308>FAQ</a><!--]--></div><button
            class="flex items-center gap-1 border-1 border-solid border-gray-300 bg-transparent px-4 py-2 text-2 text-gray-900 laptop:hidden"
            data-v-196da308><svg xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                class="icon text-gray-400" data-v-196da308 style="" width="1em" height="1em"
                viewBox="0 0 448 512" data-v-e8d572f6>
                <path fill="currentColor"
                    d="M0 96c0-17.7 14.3-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32m0 160c0-17.7 14.3-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32m448 160c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h384c17.7 0 32 14.3 32 32" />
            </svg> Menu</button>
        <div class="hidden gap-3 laptop:flex" data-v-196da308><a href="login" class="btn-2"
                data-v-196da308>Login</a><button
                class="inline-flex items-center justify-center gap-[0.5em]" data-v-196da308><svg
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true" role="img" class="icon" style="vertical-align:-0.125em;" width="1em"
                    height="1em" viewBox="0 0 448 512" data-v-e8d572f6>
                    <path fill="currentColor"
                        d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h306.7L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                </svg> Get my history +</button></div>
    </div><!---->
</nav>