{% load static %}
<!DOCTYPE html>
<html lang="en" class="mdl-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no&quot;">
    <base href="/">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block styles %}{% endblock %}
    
    <style>
        .sub-link {
            cursor: pointer;
        }
    </style>
</head>

<body cz-shortcut-listen="true">
    <div id="__nuxt">
        <div id="body-wrapper" class="flex h-full w-full flex-col bg-white laptop:flex-row">
            {% include 'app/header.html' %}

            <main class="relative flex flex-1 flex-col items-center overflow-auto bg-white">
                <div class="flex w-full flex-1 flex-col bg-gray-50 p-5 laptop:p-7 setting-darker-bg">

                    {% block body %}{% endblock %}

                </div>
            </main>

        </div>
    </div>
</body>

{% block scripts %}{% endblock %}

</html>