{% extends 'app/base.html' %} 

{% load static %} 

{% block title %} 
Result
{% endblock %} 

{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- css -->
<link rel="stylesheet" href="{% static 'css/result.css' %}" />
<link rel="stylesheet" href="{% static 'css/stylePalette.css' %}" />

<style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*-- VARIABLES CSS--*/
/*Colores*/
:root{
    --first-color: #E3F8FF;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --accent-color: #FF5151;
    --dark-color: #161616;
}

/*Tipografia responsive*/
:root{
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*-- BASE --*/
*,::after,::before{
    box-sizing: border-box;
}
h1{
    font-size: var(--h1-font-size);
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

/*-- LAYAOUT --*/
.main {
    padding: 2rem 0;
}
.bd-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

/*-- PAGES --*/
.title-shop{
    position: relative;
    margin: 0 2.5rem;
}
.title-shop::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color: var(--dark-color);
    margin-left: .25rem;
}

/*-- COMPONENT --*/
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
}
article:nth-child(1){
    background-color: whitesmoke;
}
article:nth-child(2){
    background-color: whitesmoke;
}
article:nth-child(3){
    background-color: whitesmoke;
}
article:nth-child(4){
    background-color: whitesmoke;
}
.card__img{
    width: 180px;
    height: 300px;
    padding: 1rem 0 2rem;
    transition: .5s;
}
.card__name{
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: bold;
    transition: .5s;
}
.card__icon{
    font-size: 1.5rem;
    color: var(--dark-color);
}
.card__icon:hover{
    color: var(--accent-color);
}
.card__precis{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}
.card__preci{
    display: block;
    text-align: center;
}
.card__preci--before{
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
}
.card__preci--now{
    font-size: var(--h3-font-size);
    font-weight: bold;
}
/*Move left*/
.card:hover{
    box-shadow: 0 .5rem 1rem #D1D9E6;
}
.card:hover .card__name{
    left: 0;
}
.card:hover .card__precis{
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

/*-- FOOTER --*/

footer{
  text-align: center;
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px){
    body{
        margin: 3rem 0 0 0;
    }
    .title-shop{
        margin: 0 5rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}

.product-image {
  object-fit: contain;
}
</style>
{% endblock %} 

{% block body %}
<nav
  id="main-navbar"
  style="margin-top: -30px !important"
  class="group sticky top-0 z-10 flex w-full flex-col bg-white p-4 font-medium shadow-2 rounded-2"
>
  <div
    class="m-auto flex w-full max-w-[1200px] items-center justify-between gap-5"
  >
    <h4 class="pl-6"></h4>

    <button
      class="flex items-center gap-1 border-1 border-solid border-gray-300 bg-transparent px-4 py-2 text-2 text-gray-900 laptop:hidden"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="icon text-gray-400"
        style=""
        width="1em"
        height="1em"
        viewBox="0 0 448 512"
        data-v-e8d572f6=""
      >
        <path
          fill="currentColor"
          d="M0 96c0-17.7 14.3-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32m0 160c0-17.7 14.3-32 32-32h384c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32m448 160c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h384c17.7 0 32 14.3 32 32"
        ></path>
      </svg>
      Menu
    </button>

    <div class="hidden gap-3 laptop:flex">
        <a href="{% url 'getColor' %}" class="btn-2 text-indigo-300 hover:text-indigo-500">Back</a>
        <button class="inline-flex items-center justify-center gap-[0.5em] px-5"><a href="{% url 'history' %}">View History</a></button>
    </div>
  </div>
</nav>

<div class="flex flex-1 mb-2">
  <div class="flex max-h-max flex-1 select-none flex-col justify-center">
    <section class="profile-card rounded-3 p-5 my-4 laptop:bg-white shadow-4">
        <div class="image m-auto">
            <img src="{{ image_url }}" alt="uploaded image">
        </div>
       
        <!-- Season name -->
        <p class="text-gray-700 m-auto font-semibold uppercase mb-2" style="font-size: 22px;">{{ season_name }}</p>

        <div class="colorPaletteContainer mb-6">
          <h4 class="text-gray-500"><i class="fa-solid fa-swatchbook mr-2"></i>Color Palette</h4>
        
          <div class="container mt-4">
            {% for color in personal_colors %}
            <!-- Palette Colors -->
          
            <div class="item item-2" style="background-color: {{ color.hex }}"></div>
            {% endfor %}
            
          </div>
         
        </div>
        
        <div class="lipstickPaletteContainer mb-5">
          <!-- LipStick -->
          <h4 class="text-gray-500"><i class="fa-solid fa-droplet mr-2"></i>Lipstick Color</h4>

          <div class="lipstickPalettes mt-4 flex">
          {% for color in lipstick_colors %}
            <div class="lipstickPalette">
              <span class="colorDrop" style="background-color: {{ color.hex }}"></span>
              <div class="colorName">{{color.name}}</div>
            </div>
          {% endfor %}
          </div>
        </div>

        <div class="summary text-gray-500 font-medium mb-5">
          <h4 class="text-gray-500 font-semibold">Description:</h4>
          {{ seasonInfo.description }}
        </div>
    </section>
  </div>
</div>

<div class="mt-5">
  <h1 class="title-shop">SHOP</h1>
  <main class="main bd-grid">
      <article class="card">
          <div class="card__img">
              <img src="{% static 'images/products/jean.png' %}" alt="" class="product_image">
          </div>
          <div class="card__name">
              <p>True Color</p>
          </div>
          <div class="card__precis">
              <a href="" class="card__icon" ><ion-icon name="heart-outline"></ion-icon></a>
              
              <div>
                  <span class="card__preci card__preci--before">$990.00</span>
                  <span class="card__preci card__preci--now">$749.00</span>
              </div>
              <a href="" class="card__icon"><ion-icon name="cart-outline"></ion-icon></a>
          </div>
      </article>

      <article class="card">
          <div class="card__img">
              <img src="{% static 'images/products/sweater.png' %}" alt="" class="product_image">
          </div>
          <div class="card__name">
              <p>True Color</p>
          </div>
          <div class="card__precis">
              <a href="" class="card__icon" ><ion-icon name="heart-outline"></ion-icon></a>
              <div>
                  <span class="card__preci card__preci--before">$990.00</span>
                  <span class="card__preci card__preci--now">$749.00</span>
              </div>
              <a href="" class="card__icon"><ion-icon name="cart-outline"></ion-icon></a>
          </div>
      </article>

      <article class="card">
          <div class="card__img">
              <img src="{% static 'images/products/dress2.png' %}" alt="" class="product_image">
          </div>
          <div class="card__name">
              <p>True Color</p>
          </div>
          <div class="card__precis">
              <a href="" class="card__icon" ><ion-icon name="heart-outline"></ion-icon></a>
              
              <div>
                  <span class="card__preci card__preci--before">$990.00</span>
                  <span class="card__preci card__preci--now">$749.00</span>
              </div>
              <a href="" class="card__icon"><ion-icon name="cart-outline"></ion-icon></a>
          </div>
      </article>

      <article class="card">
          <div class="card__img">
              <img src="{% static 'images/products/pant.png' %}" alt="" class="product_image">
          </div>
          <div class="card__name">
              <p>True Color</p>
          </div>
          <div class="card__precis">
              <a href="" class="card__icon" ><ion-icon name="heart-outline"></ion-icon></a>
              
              <div>
                  <span class="card__preci card__preci--before">$990.00</span>
                  <span class="card__preci card__preci--now">$749.00</span>
              </div>
              <a href="" class="card__icon"><ion-icon name="cart-outline"></ion-icon></a>
          </div>
      </article>
  </main>

  <main class="main bd-grid">
    <article class="card">
        <div class="card__img">
            <img src="{% static 'images/products/jean2.png' %}" alt="" class="product_image">
        </div>
        <div class="card__name">
            <p>True Color</p>
        </div>
        <div class="card__precis">
            <a href="" class="card__icon" ><ion-icon name="heart-outline"></ion-icon></a>
            
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            <a href="" class="card__icon"><ion-icon name="cart-outline"></ion-icon></a>
        </div>
    </article>

    <article class="card">
        <div class="card__img">
            <img src="{% static 'images/products/dress4.png' %}" alt="" class="product_image">
        </div>
        <div class="card__name">
            <p>True Color</p>
        </div>
        <div class="card__precis">
            <a href="" class="card__icon" ><ion-icon name="heart-outline"></ion-icon></a>
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            <a href="" class="card__icon"><ion-icon name="cart-outline"></ion-icon></a>
        </div>
    </article>

    <article class="card">
        <div class="card__img">
            <img src="{% static 'images/products/sweater2.png' %}" alt="" class="product_image">
        </div>
        <div class="card__name">
            <p>True Color</p>
        </div>
        <div class="card__precis">
            <a href="" class="card__icon" ><ion-icon name="heart-outline"></ion-icon></a>
            
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            <a href="" class="card__icon"><ion-icon name="cart-outline"></ion-icon></a>
        </div>
    </article>

    <article class="card">
        <div class="card__img">
            <img src="{% static 'images/products/dress3.png' %}" alt="" class="product_image">
        </div>
        <div class="card__name">
            <p>True Color</p>
        </div>
        <div class="card__precis">
            <a href="" class="card__icon" ><ion-icon name="heart-outline"></ion-icon></a>
            
            <div>
                <span class="card__preci card__preci--before">$990.00</span>
                <span class="card__preci card__preci--now">$749.00</span>
            </div>
            <a href="" class="card__icon"><ion-icon name="cart-outline"></ion-icon></a>
        </div>
    </article>
  </main>
    <footer>
      <a href="#">CR : Bits & Bytes </a> 
    </footer>
</div>

  
  <!-- ICONS -->
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

{% endblock %} 

{% block scripts %}
  <!-- JQuery -->
  <script src="{% static 'js/jquery.min.js' %}"></script>

  <script>
  $(document).ready(function() {
      $('.item').click(function() {
          var bgColor = $(this).css('background-color');
          var styleElement = $('#dynamic-style');

          if (styleElement.length === 0) {
              $('head').append('<style id="dynamic-style"></style>');
              styleElement = $('#dynamic-style');
          }

          styleElement.html(`
              .profile-card::before {
                  background-color: ${bgColor} !important;
              }
          `);

          $('.profile-card .image').css('background-color', bgColor);

      });
  });
  </script>
{% endblock %}
