<div
  class="flex w-full items-center justify-between gap-5 border-t-2 border-solid border-gray-100 bg-white px-6 py-4 text-3xl laptop:hidden"
>
  <div class="flex items-center gap-2">
    <a href="/app/account" class="flex items-center gap-2 text-gray-400"
      ><svg
        data-v-e8d572f6=""
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="icon"
        width="1em"
        height="1em"
        viewBox="0 0 20 20"
      >
        <path
          fill="currentColor"
          d="M10 8a3 3 0 1 0 0-6a3 3 0 0 0 0 6m-6.535 6.494a1.23 1.23 0 0 0 .41 1.41A9.96 9.96 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1c.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003"
        ></path></svg
    ></a>
  </div>
  <div class="flex items-center gap-2">
    <a
      href="/app/"
      class="router-link-active router-link-exact-active flex items-center gap-2 text-gray-400"
      aria-current="page"
      ><svg
        data-v-e8d572f6=""
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="icon"
        width="1em"
        height="1em"
        viewBox="0 0 20 20"
      >
        <path
          fill="currentColor"
          d="M3.75 3A1.75 1.75 0 0 0 2 4.75v3.26a3.24 3.24 0 0 1 1.75-.51h12.5c.644 0 1.245.188 1.75.51V6.75A1.75 1.75 0 0 0 16.25 5h-4.836a.25.25 0 0 1-.177-.073L9.823 3.513A1.75 1.75 0 0 0 8.586 3zm0 6A1.75 1.75 0 0 0 2 10.75v4.5c0 .966.784 1.75 1.75 1.75h12.5A1.75 1.75 0 0 0 18 15.25v-4.5A1.75 1.75 0 0 0 16.25 9z"
        ></path></svg
    ></a>
  </div>
  <div class="flex items-center gap-2">
    <a href="/app/styles" class="flex items-center gap-2 text-gray-400"
      ><svg
        data-v-e8d572f6=""
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="icon"
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
      >
        <path
          fill="currentColor"
          d="M12.613 1.258a1.535 1.535 0 0 1 2.13 2.129l-1.905 2.856a8 8 0 0 1-3.56 2.939a4.01 4.01 0 0 0-2.46-2.46a8 8 0 0 1 2.94-3.56zM5.5 8A2.5 2.5 0 0 0 3 10.5a.5.5 0 0 1-.7.459a.75.75 0 0 0-.983 1A3.5 3.5 0 0 0 8 10.5A2.5 2.5 0 0 0 5.5 8"
        ></path></svg
    ></a>
  </div>
  <div class="flex items-center gap-2">
    <a href="/app/record" class="flex items-center gap-2 text-gray-400"
      ><svg
        data-v-e8d572f6=""
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="icon"
        width="1em"
        height="1em"
        viewBox="0 0 20 20"
      >
        <g fill="currentColor">
          <path d="M7 4a3 3 0 0 1 6 0v6a3 3 0 1 1-6 0z"></path>
          <path
            d="M5.5 9.643a.75.75 0 0 0-1.5 0V10c0 3.06 2.29 5.585 5.25 5.954V17.5h-1.5a.75.75 0 0 0 0 1.5h4.5a.75.75 0 0 0 0-1.5h-1.5v-1.546A6 6 0 0 0 16 10v-.357a.75.75 0 0 0-1.5 0V10a4.5 4.5 0 0 1-9 0z"
          ></path>
        </g></svg
    ></a>
  </div>
</div>
<div
  data-v-4558786c=""
  id="paywall"
  class="popup-container !z-[10000]"
  style="display: none"
>
  <div
    data-v-4558786c=""
    class="relative flex flex-col justify-center gap-3 rounded-lg p-5 shadow-5 h-full w-full tablet:p-7 w-full h-full tablet:w-[600px] tablet:max-h-[95vh] rounded-none tablet:rounded-lg bg-gray-100"
  >
    <svg
      data-v-e8d572f6=""
      data-v-4558786c=""
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      aria-hidden="true"
      role="img"
      class="icon absolute right-2 top-2 m-2 cursor-pointer text-gray-500"
      width="24px"
      height="24px"
      viewBox="0 0 16 16"
    >
      <path
        fill="currentColor"
        d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94z"
      ></path>
    </svg>
    <div
      data-v-f3ea0973=""
      id="paywall-screen-features"
      class="flex h-full flex-col"
    >
      <div data-v-f3ea0973="" class="flex flex-col pb-6 text-center">
        <h3 data-v-f3ea0973="" class="paywall-title">Unlock TalkNotes +</h3>
        <p data-v-f3ea0973="" class="text-gray-400">
          Use TalkNotes without limitations
        </p>
      </div>
      <hr data-v-f3ea0973="" class="border-px border-gray-200" />
      <div
        data-v-f3ea0973=""
        class="flex flex-col gap-5 overflow-auto pb-7 pt-5"
      >
        <div data-v-f3ea0973="" class="flex items-center gap-4">
          <svg
            data-v-e8d572f6=""
            data-v-f3ea0973=""
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="icon w-6 text-center text-5 text-indigo-500"
            width="1em"
            height="1em"
            viewBox="0 0 640 512"
          >
            <path
              fill="currentColor"
              d="M0 241.1C0 161 65 96 145.1 96c38.5 0 75.4 15.3 102.6 42.5l72.3 72.2l72.2-72.2C419.5 111.3 456.4 96 494.9 96C575 96 640 161 640 241.1v29.7C640 351 575 416 494.9 416c-38.5 0-75.4-15.3-102.6-42.5L320 301.3l-72.2 72.2c-27.3 27.2-64.2 42.5-102.7 42.5C65 416 0 351 0 270.9v-29.7zM274.7 256l-72.2-72.2c-15.2-15.2-35.9-23.8-57.4-23.8c-44.8 0-81.1 36.3-81.1 81.1v29.7c0 44.8 36.3 81.1 81.1 81.1c21.5 0 42.2-8.5 57.4-23.8zm90.5 0l72.2 72.2c15.2 15.2 35.9 23.8 57.4 23.8c44.8 0 81.1-36.3 81.1-81.1v-29.7c0-44.8-36.3-81.1-81.1-81.1c-21.5 0-42.2 8.5-57.4 23.8L365.3 256z"
            ></path>
          </svg>
          <div data-v-f3ea0973="">
            <div data-v-f3ea0973="" class="text-4 font-semibold">
              Unlimited Notes
            </div>
            <div data-v-f3ea0973="" class="text-2 text-gray-500">
              Create as many notes as you want, and get up to 20 minutes of
              recording time.
            </div>
          </div>
        </div>
        <div data-v-f3ea0973="" class="flex items-center gap-4">
          <svg
            data-v-e8d572f6=""
            data-v-f3ea0973=""
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="icon w-6 text-center text-5 text-indigo-500"
            width="1em"
            height="1em"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M512 256v2.7c-.4 36.5-33.6 61.3-70.1 61.3H344c-26.5 0-48 21.5-48 48c0 3.4.4 6.7 1 9.9c2.1 10.2 6.5 20 10.8 29.9c6.1 13.8 12.1 27.5 12.1 42c0 31.8-21.6 60.7-53.4 62c-3.5.1-7 .2-10.6.2C114.6 512 0 397.4 0 256S114.6 0 256 0s256 114.6 256 256m-384 32a32 32 0 1 0-64 0a32 32 0 1 0 64 0m0-96a32 32 0 1 0 0-64a32 32 0 1 0 0 64m160-96a32 32 0 1 0-64 0a32 32 0 1 0 64 0m96 96a32 32 0 1 0 0-64a32 32 0 1 0 0 64"
            ></path>
          </svg>
          <div data-v-f3ea0973="">
            <div data-v-f3ea0973="" class="text-4 font-semibold">
              Improved styling
            </div>
            <div data-v-f3ea0973="" class="text-2 text-gray-500">
              Unlock more styles, create your own styles prompts and more!.
            </div>
          </div>
        </div>
        <div data-v-f3ea0973="" class="flex items-center gap-4">
          <svg
            data-v-e8d572f6=""
            data-v-f3ea0973=""
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="icon w-6 text-center text-5 text-indigo-500"
            width="1em"
            height="1em"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M288 109.3V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V109.3l-73.4 73.4c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l128-128c12.5-12.5 32.8-12.5 45.3 0l128 128c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0zM64 352h128c0 35.3 28.7 64 64 64s64-28.7 64-64h128c35.3 0 64 28.7 64 64v32c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64v-32c0-35.3 28.7-64 64-64m368 104a24 24 0 1 0 0-48a24 24 0 1 0 0 48"
            ></path>
          </svg>
          <div data-v-f3ea0973="">
            <div data-v-f3ea0973="" class="text-4 font-semibold">
              File upload
            </div>
            <div data-v-f3ea0973="" class="text-2 text-gray-500">
              Create notes from your own audio files. Multiple formats
              supported!
            </div>
          </div>
        </div>
        <div data-v-f3ea0973="" class="flex items-center gap-4">
          <svg
            data-v-e8d572f6=""
            data-v-f3ea0973=""
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="icon w-6 text-center text-5 text-indigo-500"
            width="1em"
            height="1em"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="m345 39.1l127.8 129.3c52.4 53 52.4 138.2 0 191.2l-112 113.3c-9.3 9.4-24.5 9.5-33.9.2s-9.5-24.5-.2-33.9l111.9-113.3c33.9-34.3 33.9-89.4 0-123.7L310.9 72.9c-9.3-9.4-9.2-24.6.2-33.9s24.6-9.2 33.9.2zM0 229.5V80c0-26.5 21.5-48 48-48h149.5c17 0 33.3 6.7 45.3 18.7l168 168c25 25 25 65.5 0 90.5L277.3 442.7c-25 25-65.5 25-90.5 0l-168-168C6.7 262.7 0 246.5 0 229.5M144 144a32 32 0 1 0-64 0a32 32 0 1 0 64 0"
            ></path>
          </svg>
          <div data-v-f3ea0973="">
            <div data-v-f3ea0973="" class="text-4 font-semibold">
              Organize Your Notes
            </div>
            <div data-v-f3ea0973="" class="text-2 text-gray-500">
              Sort and filter your notes with ease by adding custom tags.
            </div>
          </div>
        </div>
        <div data-v-f3ea0973="" class="flex items-center gap-4">
          <svg
            data-v-e8d572f6=""
            data-v-f3ea0973=""
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="icon w-6 text-center text-5 text-indigo-500"
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M7 21q-2.075 0-3.537-1.463T2 16q0-1.825 1.138-3.187T6 11.1v2.075q-.875.3-1.437 1.075T4 16q0 1.25.875 2.125T7 19t2.125-.875T10 16v-1h5.875q.2-.225.488-.363T17 14.5q.625 0 1.063.438T18.5 16t-.437 1.063T17 17.5q-.35 0-.638-.137T15.876 17H11.9q-.35 1.725-1.713 2.863T7 21m10 0q-1.4 0-2.537-.687T12.675 18.5h2.675q.35.25.775.375T17 19q1.25 0 2.125-.875T20 16t-.875-2.125T17 13q-.5 0-.925.138t-.8.412l-3.05-5.075q-.525-.1-.875-.5T11 7q0-.625.438-1.062T12.5 5.5t1.063.438T14 7v.213q0 .087-.05.212l2.175 3.65q.2-.05.425-.062T17 11q2.075 0 3.538 1.463T22 16t-1.463 3.538T17 21M7 17.5q-.625 0-1.062-.437T5.5 16q0-.55.35-.95t.85-.525l2.35-3.9q-.725-.675-1.138-1.612T7.5 7q0-2.075 1.463-3.537T12.5 2t3.538 1.463T17.5 7h-2q0-1.25-.875-2.125T12.5 4t-2.125.875T9.5 7q0 1.075.65 1.888t1.65 1.037L8.425 15.55q.05.125.063.225T8.5 16q0 .625-.437 1.063T7 17.5"
            ></path>
          </svg>
          <div data-v-f3ea0973="">
            <div data-v-f3ea0973="" class="text-4 font-semibold">
              Integrations
            </div>
            <div data-v-f3ea0973="" class="text-2 text-gray-500">
              Connect Talknotes &amp; Zapier to send your notes anywhere you
              want!
            </div>
          </div>
        </div>
        <div data-v-f3ea0973="" class="flex items-center gap-4">
          <svg
            data-v-e8d572f6=""
            data-v-f3ea0973=""
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="icon w-6 text-center text-5 text-indigo-500"
            width="1em"
            height="1em"
            viewBox="0 0 448 512"
          >
            <path
              fill="currentColor"
              d="M8 256a56 56 0 1 1 112 0a56 56 0 1 1-112 0m160 0a56 56 0 1 1 112 0a56 56 0 1 1-112 0m216-56a56 56 0 1 1 0 112a56 56 0 1 1 0-112"
            ></path>
          </svg>
          <div data-v-f3ea0973="">
            <div data-v-f3ea0973="" class="text-4 font-semibold">
              More coming
            </div>
            <div data-v-f3ea0973="" class="text-2 text-gray-500">
              I add features every few weeks based on the request I receive!
            </div>
          </div>
        </div>
      </div>
      <hr data-v-f3ea0973="" class="border-px border-gray-200" />
      <div data-v-f3ea0973="" class="relative flex flex-col pt-6">
        <div data-v-f3ea0973="" class="paywall-footer-fade"></div>
        <button
          data-v-f3ea0973=""
          class="inline-flex items-center justify-center gap-[0.5em] btn bg-main-gradient shadow-main-glow"
        >
          <svg
            data-v-e8d572f6=""
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="icon"
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            style="vertical-align: -0.125em"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M5 4a.75.75 0 0 1 .738.616l.252 1.388A1.25 1.25 0 0 0 6.996 7.01l1.388.252a.75.75 0 0 1 0 1.476l-1.388.252A1.25 1.25 0 0 0 5.99 9.996l-.252 1.388a.75.75 0 0 1-1.476 0L4.01 9.996A1.25 1.25 0 0 0 3.004 8.99l-1.388-.252a.75.75 0 0 1 0-1.476l1.388-.252A1.25 1.25 0 0 0 4.01 6.004l.252-1.388A.75.75 0 0 1 5 4m7-3a.75.75 0 0 1 .721.544l.195.682c.118.415.443.74.858.858l.682.195a.75.75 0 0 1 0 1.442l-.682.195a1.25 1.25 0 0 0-.858.858l-.195.682a.75.75 0 0 1-1.442 0l-.195-.682a1.25 1.25 0 0 0-.858-.858l-.682-.195a.75.75 0 0 1 0-1.442l.682-.195a1.25 1.25 0 0 0 .858-.858l.195-.682A.75.75 0 0 1 12 1m-2 10a.75.75 0 0 1 .728.568a.97.97 0 0 0 .704.704a.75.75 0 0 1 0 1.456a.97.97 0 0 0-.704.704a.75.75 0 0 1-1.456 0a.97.97 0 0 0-.704-.704a.75.75 0 0 1 0-1.456a.97.97 0 0 0 .704-.704A.75.75 0 0 1 10 11"
              clip-rule="evenodd"
            ></path>
          </svg>
          Get Talknotes +
        </button>
        <p
          data-v-f3ea0973=""
          class="mt-2 flex items-center justify-center gap-1 text-sm text-gray-500"
        >
          <svg
            data-v-e8d572f6=""
            data-v-f3ea0973=""
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="icon"
            width="1.2em"
            height="1.2em"
            viewBox="0 0 20 20"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M9.661 2.237a.53.53 0 0 1 .678 0a11.95 11.95 0 0 0 7.078 2.749a.5.5 0 0 1 .479.425q.104.78.104 1.59c0 5.162-3.26 9.563-7.834 11.256a.48.48 0 0 1-.332 0C5.26 16.564 2 12.163 2 7q0-.808.104-1.589a.5.5 0 0 1 .48-.425a11.95 11.95 0 0 0 7.077-2.75m4.196 5.954a.75.75 0 0 0-1.214-.882l-3.483 4.79l-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089z"
              clip-rule="evenodd"
            ></path></svg
          ><span data-v-f3ea0973="" class="whitespace-nowrap">
            Trusted by +10,000 happy users
            <!----></span
          >
        </p>
      </div>
    </div>
    <div
      data-v-9e9370c1=""
      class="flex h-full flex-col justify-between"
      style="display: none"
    >
      <div data-v-9e9370c1="" class="flex flex-col text-center">
        <h3 data-v-9e9370c1="" class="paywall-title">Choose your plan</h3>
      </div>
      <div data-v-9e9370c1="" class="border-y-px border-gray-200">
        <div
          data-v-9e9370c1=""
          class="mt-4 flex flex-col text-center font-bold text-indigo-400"
        >
          <div data-v-9e9370c1="" class="paywall-plans-discount-head">
            Limited Launch Offer:
          </div>
          <div data-v-9e9370c1="" class="text-7">Secure up to 65% OFF</div>
        </div>
        <div data-v-9e9370c1="" class="my-6 flex flex-col gap-4">
          <div
            data-v-9e9370c1=""
            class="selected plan-item relative flex h-[80px] cursor-pointer items-center gap-4 rounded-2 border-2 border-transparent bg-white p-3 transition-all duration-500"
          >
            <div
              data-v-9e9370c1=""
              class="absolute right-0 top-[-10px] flex items-center gap-1 rounded-full bg-rose-500 px-2 py-0 text-2 font-bold text-white"
            >
              <svg
                data-v-e8d572f6=""
                data-v-9e9370c1=""
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="icon"
                width="1em"
                height="1em"
                viewBox="0 0 20 20"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401l-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102l-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637l3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              Save 65%
            </div>
            <div
              data-v-9e9370c1=""
              class="plan-selector h-[24px] w-[24px] rounded-full border-[6px] border-white bg-gray-100 transition-all duration-500"
            ></div>
            <div data-v-9e9370c1="">
              <div data-v-9e9370c1="" class="text-5 font-semibold">
                <span
                  data-v-9e9370c1=""
                  class="text-4 font-light text-gray-300 line-through"
                  >$197</span
                >
                $69.10 / year
              </div>
              <div data-v-9e9370c1="" class="text-2 text-gray-400">
                = $4.99/month, billed annually
              </div>
            </div>
          </div>
          <div
            data-v-9e9370c1=""
            class="plan-item relative flex h-[80px] cursor-pointer items-center gap-4 rounded-2 border-2 border-transparent bg-white p-3 transition-all duration-500"
          >
            <!---->
            <div
              data-v-9e9370c1=""
              class="plan-selector h-[24px] w-[24px] rounded-full border-[6px] border-white bg-gray-100 transition-all duration-500"
            ></div>
            <div data-v-9e9370c1="">
              <div data-v-9e9370c1="" class="text-5 font-semibold">
                <span
                  data-v-9e9370c1=""
                  class="text-4 font-light text-gray-300 line-through"
                  >$19.97</span
                >
                $10.97 / month
              </div>
              <!---->
            </div>
          </div>
        </div>
        <div data-v-9e9370c1="" class="flex flex-col">
          <div
            data-v-9e9370c1=""
            class="flex w-full max-w-[700px] flex-wrap justify-center gap-4 laptop:flex-nowrap opacity-70 opacity-50"
          >
            <img
              src="/_ipx/w_200&amp;q_80/images/social-proof/sp-medium.svg"
              width="200"
              alt="Medium logo"
              data-nuxt-img=""
              srcset="
                /_ipx/w_200&amp;q_80/images/social-proof/sp-medium.svg 1x,
                /_ipx/w_400&amp;q_80/images/social-proof/sp-medium.svg 2x
              "
              class="block w-[30%]"
            /><img
              src="/_ipx/w_200&amp;q_80/images/social-proof/sp-ih.svg"
              width="200"
              alt="Indiehackers logo"
              data-nuxt-img=""
              srcset="
                /_ipx/w_200&amp;q_80/images/social-proof/sp-ih.svg 1x,
                /_ipx/w_400&amp;q_80/images/social-proof/sp-ih.svg 2x
              "
              class="block w-[30%]"
            /><img
              src="/_ipx/w_200&amp;q_80/images/social-proof/sp-foundr.svg"
              width="200"
              alt="Foundr Logo"
              data-nuxt-img=""
              srcset="
                /_ipx/w_200&amp;q_80/images/social-proof/sp-foundr.svg 1x,
                /_ipx/w_400&amp;q_80/images/social-proof/sp-foundr.svg 2x
              "
              class="block w-[30%]"
            />
          </div>
          <span
            data-v-9e9370c1=""
            class="whitespace-nowrap m-auto my-5 text-center text-gray-400"
          >
            Trusted by +10,000 happy users
            <span
              ><svg
                data-v-e8d572f6=""
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="icon text-orange-400"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393l3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39l.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574l-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293l1.41-3.393A.75.75 0 0 1 8 1.75"
                  clip-rule="evenodd"
                ></path></svg
              ><svg
                data-v-e8d572f6=""
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="icon text-orange-400"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393l3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39l.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574l-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293l1.41-3.393A.75.75 0 0 1 8 1.75"
                  clip-rule="evenodd"
                ></path></svg
              ><svg
                data-v-e8d572f6=""
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="icon text-orange-400"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393l3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39l.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574l-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293l1.41-3.393A.75.75 0 0 1 8 1.75"
                  clip-rule="evenodd"
                ></path></svg
              ><svg
                data-v-e8d572f6=""
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="icon text-orange-400"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393l3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39l.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574l-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293l1.41-3.393A.75.75 0 0 1 8 1.75"
                  clip-rule="evenodd"
                ></path></svg
              ><svg
                data-v-e8d572f6=""
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="icon text-orange-400"
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393l3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39l.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574l-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293l1.41-3.393A.75.75 0 0 1 8 1.75"
                  clip-rule="evenodd"
                ></path></svg></span
          ></span>
        </div>
      </div>
      <div data-v-9e9370c1="" class="relative flex flex-col">
        <button
          data-v-9e9370c1=""
          class="inline-flex items-center justify-center gap-[0.5em] btn bg-main-gradient shadow-main-glow"
        >
          <svg
            data-v-e8d572f6=""
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="icon"
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            style="vertical-align: -0.125em"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M5 4a.75.75 0 0 1 .738.616l.252 1.388A1.25 1.25 0 0 0 6.996 7.01l1.388.252a.75.75 0 0 1 0 1.476l-1.388.252A1.25 1.25 0 0 0 5.99 9.996l-.252 1.388a.75.75 0 0 1-1.476 0L4.01 9.996A1.25 1.25 0 0 0 3.004 8.99l-1.388-.252a.75.75 0 0 1 0-1.476l1.388-.252A1.25 1.25 0 0 0 4.01 6.004l.252-1.388A.75.75 0 0 1 5 4m7-3a.75.75 0 0 1 .721.544l.195.682c.118.415.443.74.858.858l.682.195a.75.75 0 0 1 0 1.442l-.682.195a1.25 1.25 0 0 0-.858.858l-.195.682a.75.75 0 0 1-1.442 0l-.195-.682a1.25 1.25 0 0 0-.858-.858l-.682-.195a.75.75 0 0 1 0-1.442l.682-.195a1.25 1.25 0 0 0 .858-.858l.195-.682A.75.75 0 0 1 12 1m-2 10a.75.75 0 0 1 .728.568a.97.97 0 0 0 .704.704a.75.75 0 0 1 0 1.456a.97.97 0 0 0-.704.704a.75.75 0 0 1-1.456 0a.97.97 0 0 0-.704-.704a.75.75 0 0 1 0-1.456a.97.97 0 0 0 .704-.704A.75.75 0 0 1 10 11"
              clip-rule="evenodd"
            ></path>
          </svg>
          Get Talknotes
        </button>
        <p data-v-9e9370c1="" class="mt-2 text-center text-2 text-gray-400">
          <svg
            data-v-e8d572f6=""
            data-v-9e9370c1=""
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="icon"
            width="1em"
            height="1em"
            viewBox="0 0 20 20"
            style="vertical-align: -0.125em"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M9.661 2.237a.53.53 0 0 1 .678 0a11.95 11.95 0 0 0 7.078 2.749a.5.5 0 0 1 .479.425q.104.78.104 1.59c0 5.162-3.26 9.563-7.834 11.256a.48.48 0 0 1-.332 0C5.26 16.564 2 12.163 2 7q0-.808.104-1.589a.5.5 0 0 1 .48-.425a11.95 11.95 0 0 0 7.077-2.75m4.196 5.954a.75.75 0 0 0-1.214-.882l-3.483 4.79l-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089z"
              clip-rule="evenodd"
            ></path>
          </svg>
          Cancel anytime
        </p>
      </div>
    </div>
  </div>
</div>
<!---->
<div id="help-center">
  <div class="absolute bottom-[70px] right-2 z-10 laptop:bottom-2">
    <div
      class="flex aspect-square cursor-pointer items-center justify-center rounded-full bg-indigo-500 p-3 text-white shadow-3 transition-all hover:bg-indigo-600"
    >
      <svg
        data-v-e8d572f6=""
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="icon"
        width="32px"
        height="32px"
        viewBox="0 0 20 20"
      >
        <path
          fill="currentColor"
          d="M8.5 1a6.5 6.5 0 0 0-5.676 9.672l-.795 2.082a1 1 0 0 0 1.204 1.32l2.487-.697A6.5 6.5 0 1 0 8.5 1m-.008 3.901c-.358.07-.75.302-1.058.846a.5.5 0 1 1-.87-.494C7.005 4.477 7.632 4.05 8.3 3.92a2.43 2.43 0 0 1 1.792.361c.484.32.875.843.887 1.47c.013.655-.385 1.246-1.119 1.68c-.498.294-.692.494-.775.627C9.015 8.17 9 8.272 9 8.5a.5.5 0 0 1-1 0c0-.272.014-.61.237-.97c.21-.337.569-.637 1.115-.96c.535-.317.632-.618.629-.798c-.004-.207-.142-.46-.44-.657a1.43 1.43 0 0 0-1.048-.214M8.75 11.5a.75.75 0 1 1 0-1.5a.75.75 0 0 1 0 1.5m-2.214 3.24A6.49 6.49 0 0 0 11.462 17c.993 0 1.936-.223 2.78-.623l2.486.697a1 1 0 0 0 1.204-1.32l-.795-2.082a6.5 6.5 0 0 0 .825-3.172c0-1.94-.85-3.682-2.199-4.873a7.5 7.5 0 0 1 .235 1.762c.608.885.964 1.957.964 3.111c0 1.05-.294 2.031-.805 2.866l-.128.21l.97 2.535l-2.86-.8l-.175.088c-.75.384-1.6.601-2.502.601a5.5 5.5 0 0 1-3.167-1.003a7.5 7.5 0 0 1-1.76-.257"
        ></path>
      </svg>
    </div>
  </div>
</div>
