{% extends 'app/base.html' %}
{% load static %}

{% block title %}
Color| Get my Color
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/uploadImage.css' %}">
{% endblock %}

{% block body %}
<div class="flex flex-1">
    <div class="flex max-h-max flex-1 select-none flex-col justify-center">
        <div id="uploadArea" class="m-auto rounded-3 p-6 my-4 laptop:bg-white laptop:p-8 flex flex-col">
            <div class="mb-7 mt-5 mb-7">
                <!-- Header -->
                <div class="page-header mb-7"><!--[-->
                    <h1>Get my Personal Color Palette</h1>
                    <p>
                        Upload your Image (up to 5MB) and get a color palette in some minutes.</p><!--]-->
                </div>
                <span class="upload-area__tooltip-data">jpeg, .png, .svg, .gif</span> <!-- Data Will be Comes From Js -->
                <!-- End Header -->
            
                <div class="flex h-[400px] flex-col gap-5">
                    <div class="flex flex-1 flex-col">

                        <!-- Drop Zoon -->
                        <div id="dropZoon" class="upload-area__drop-zoon drop-zoon flex flex-1 cursor-pointer flex-col items-center justify-center rounded-lg border-4 border-dashed border-gray-300 p-7 text-gray-400 hover:bg-gray-100">
                            <span class="drop-zoon__icon">
                                <i class="bx bxs-file-image"></i>
                            </span>
                            <p class="drop-zoon__paragraph flex flex-col items-center gap-2 text-2xl">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                                    class="icon" style="" width="2em" height="2em" viewBox="0 0 16 16"
                                    data-v-e8d572f6>
                                    <g fill="currentColor">
                                        <path
                                            d="M7.25 10.25a.75.75 0 0 0 1.5 0V4.56l2.22 2.22a.75.75 0 1 0 1.06-1.06l-3.5-3.5a.75.75 0 0 0-1.06 0l-3.5 3.5a.75.75 0 0 0 1.06 1.06l2.22-2.22z" />
                                        <path
                                            d="M3.5 9.75a.75.75 0 0 0-1.5 0v1.5A2.75 2.75 0 0 0 4.75 14h6.5A2.75 2.75 0 0 0 14 11.25v-1.5a.75.75 0 0 0-1.5 0v1.5c0 .69-.56 1.25-1.25 1.25h-6.5c-.69 0-1.25-.56-1.25-1.25z" />
                                    </g>
                                </svg> Click, or drop your file here
                            </p>                        
                            <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
                            <form id="uploadForm"  action = '{% url "getColor" %}' method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <img src="" alt="Preview Image" id="previewImage" class="drop-zoon__preview-image" draggable="false">
                                <input type="file" id="fileInput" class="drop-zoon__file-input" name="image"  accept="image/*" required>
                       
                        </div>
                        <!-- End Drop Zoon -->
                    
                        
                        <!-- End File Details -->

                        <div class="self-center mt-5"><button class="inline-flex items-center justify-center gap-[0.5em]"><svg xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                            class="icon" style="vertical-align:-0.125em;" width="1em" height="1em"
                            viewBox="0 0 16 16" data-v-e8d572f6>
                            <path fill="currentColor" fill-rule="evenodd"
                                d="M2 8a.75.75 0 0 1 .75-.75h8.69L8.22 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06-1.06l3.22-3.22H2.75A.75.75 0 0 1 2 8"
                                clip-rule="evenodd" />
                        </svg> Upload File</button>
                        </div>
                    </form>

                    </div>
                </div>
            </div>
            
            <div class="flex flex-col gap-7 tablet:flex-row"><!--[-->
                <div class="flex flex-1 flex-col items-center rounded-2 border-2 border-gray-100 bg-white p-4 text-center text-gray-600"
                   >
                    <p class="font-semibold text-indigo-400"><span class="icon"
                            style="font-size:1em;line-height:1em;width:1em;height:1em;" icon="globe"
                            data-v-e8d572f6><!--[--><!--]--></span> 50+ languages</p>
                    <p class="text-2">Transcribe audio to text in over 50 languages.</p>
                </div>
                <div class="flex flex-1 flex-col items-center rounded-2 border-2 border-gray-100 bg-white p-4 text-center text-gray-600"
                   >
                    <p class="font-semibold text-indigo-400"><span class="icon"
                            style="font-size:1em;line-height:1em;width:1em;height:1em;" icon="microphone"
                            data-v-e8d572f6><!--[--><!--]--></span> Up to 2 minutes</p>
                    <p class="text-2">Transcribe up to 2 minutes of audio at a time.</p>
                </div>
                <div class="flex flex-1 flex-col items-center rounded-2 border-2 border-gray-100 bg-white p-4 text-center text-gray-600"
                   >
                    <p class="font-semibold text-indigo-400"><span class="icon"
                            style="font-size:1em;line-height:1em;width:1em;height:1em;" icon="lock"
                            data-v-e8d572f6><!--[--><!--]--></span> Privacy-first</p>
                    <p class="text-2">Your files are deleted right after transcription.</p>
                </div><!--]-->
            </div>      
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/uploadImage.js' %}"></script>
{% endblock %}